*{
    margin:0;
    padding:0;
}
body{

    background-color: aqua;
}
main{
    display:flex;
    width:100%;
    position: fixed;
    background-color: aquamarine;
    padding: 15px;
    
    

}
header{
    width:55%;
    text-align: right;
    
}
nav{
    padding:2px 0;
    
    width:45%;
    text-align: center;

}
ul{
    list-style: none;
    align-self: center;
    padding:1% 0;
    
 
    
    
}
li{
    display:inline;
    
}
h1{
   
}
a{
    margin-right: 5px;
}

